<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>01.01.2020</small>
  </div>

  <div>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis distinctio doloribus fuga iste libero mollitia nesciunt omnis, placeat quam qui, quidem recusandae vero voluptatum! Aliquid dolorem est tempore.</span>
    </p>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis distinctio doloribus fuga iste libero mollitia nesciunt omnis, placeat quam qui, quidem recusandae vero voluptatum! Aliquid dolorem est tempore.</span>
    </p>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis distinctio doloribus fuga iste libero mollitia nesciunt omnis, placeat quam qui, quidem recusandae vero voluptatum! Aliquid dolorem est tempore.</span>
    </p>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis corporis distinctio doloribus fuga iste libero mollitia nesciunt omnis, placeat quam qui, quidem recusandae vero voluptatum! Aliquid dolorem est tempore.</span>
    </p>
  </div>
</div>
