<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div
      class="form-control mt-3"
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
    >
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
      <div class="validation" *ngIf="form.get('title').touched && form.get('title').invalid">
        <small *ngIf="form.get('title').errors.required">Title is required</small>
      </div>
    </div>

    <div class="form-control">
      <quill-editor formControlName="text"></quill-editor>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      Update
    </button>

  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading ...</p>
</ng-template>
