<form class="card">
  <h2>Admin panel</h2>

  <div class="form-control mt-3">
    <label for="email">Email</label>
    <input id="email" type="email">
    <div class="validation">
      <small>error message</small>
    </div>
  </div>

  <div class="form-control mt-3">
    <label for="password">Password</label>
    <input id="password" type="password">
    <div class="validation">
      <small>error message</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Log in</button>

</form>
