<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Admin panel</h2>

  <div
    class="form-control mt-3"
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Email is required</small>
      <small *ngIf="form.get('email').errors.email">Not valid email</small>
    </div>
  </div>

  <div
    class="form-control mt-3"
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
  >
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Password is required</small>
      <small *ngIf="form.get('password').errors.minlength">
        Min length is {{form.get('password').errors.minlength.requiredLength}}.
        Now is {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted">
    Log in
  </button>


</form>
